



body {
    font-family: Roboto;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: rgb(145, 183, 240);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 15px;
    background-color: rgb(255, 255, 255);
}